<h1>Search Results</h1>
<% @services.each do |s| %>
		<div class="card" style="width: 20rem;">
			<div class="card-body">
				<h4 class="card-title"><%= s.title %></h4>
				<p class="card-text">Cost <%= s.charge_per_hour %>/hour</p>
				<a href="/services/<%= s.id %>" class="btn btn-primary">More Details</a>
			</div>
		</div>
<% end %>
