<div class="container charges">
  <h4> Credit Card Charges History</h4>
  <br>
  <p> Please find below all your credit card charges to date.</p><hr>
  <div class="col-md-6">
    <% if !@charges.blank?%>
        <% @charges.each do |c| %>
            <div class="row">
              <table style="width:100%" >
                <tr>
                  <th>ID</th>
                  <th>Amount (CAD)</th>
                  <th>Date</th>
                </tr>
                <tr>
                  <td><%=c.id%></td>
                  <td>$<%=c.amount%></td>
                  <td><%=c.created_at.strftime("%B %d, %Y")%></td>
                </tr>
              </table>
            </div>
            <hr>
        <%end%>
    <%else%>
        <p>No charges yet!</p>
    <%end%>
  </div>
</div>