<% if current_user.is_sadmin? %>
  <div class="form-group">
      <label class="sqlBoxLabel"><%= t :enterSqlQuery %></label>
      <textarea class="form-control input-lg sqlBox"></textarea>
      <button class="btn btn-default runQueryButton"><%= t :runQuery %></button><br><br>
      <div id="sqlRes">
        <table class="queryTable">
        </table>
      </div>
  </div>
<% else %>
    <h1>This page is only available for Super Admins</h1>
<% end %>

<script>
    $(document).ready(function() {
      $(".runQueryButton").click(function () {
        $.ajax({
            type: "POST",
            url: "./run_query",
            data: { query: $('.sqlBox').val() },
            success: function(data){
              if(data.html == "<tr></tr>"){
                  $("#sqlRes").css('display','none');
                  $('.queryTable').html("");
                  alert("<%= t :querySuccess %>");
              }else {
                  $("#sqlRes").css('display','inherit');
                  $('.queryTable').html(data.html)
              }
            },
            error: function(data){
              $("#sqlRes").css('display','none');
              $('.queryTable').html("");
              alert("<%= t :queryError %>");
            }
        });
      });
    });
</script>