.about-teenserv {
  width: 50%;
  margin: 0 auto;
}

.heading-about-teenserv {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.paragraph-about-teenserv {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.team {
  overflow-y: hidden;
}

.our-team {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.team-member-name {
  font-family: 'Roboto', sans-serif;
}

.aboutus-profilePic {
  padding-top: 2%;
}

.aboutus-profilePic img {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.team-member-name{
  text-align: center;
}