@media screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
	.title.contact-us {
		font-size: 20px !important;
	}

	.control-label.email-address {
		font-size: 21px !important;
	}

	.control-label.request-description {
		font-size: 21px !important;
	}

}

//iPhone (6, 6S, 7, 8) in portrait mode
@media screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
	.title.contact-us {
		font-size: 24px !important;
	}

	.control-label.email-address {
		font-size: 28px !important;;
	}

	.control-label.request-description {
		font-size: 28px !important;
	}
}