// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
//fade in of welcome page
#header {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}
//end fade-in header
//Home page css
.navbar {
	border-radius: 0px;
	margin-bottom: -1px;
}

.mynav {
	min-height: 70px !important;
	background-color: #DADFE1;
}

.container-fluid {
	margin-top: 10px;
}

.navbar-brand {
	font-size: 2em;
}

.dropdown-toggle {
	font-size: 1.2em;
}

.header-div {
	height: 100%;
}

.sign-up, .sign-in {
	font-size: 1.5em;
}

.header-intro {
  height: 600px;
  background-color: #3A539B;
  position: relative;

  //background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 100%), url("homepage_background.jpg");
  //background-size: cover; 
}

.container-intro {
	text-align: center;
	margin: auto;
	height: 200px;
	position: absolute;
	top:35%;
	left:17%;
}

.container-svg{
	-webkit-filter: invert(100%);
	opacity: 0.7;
}

.shovel-svg {
	position: absolute;
	top:45%;
	left:5%;
	transform: rotate(-15deg);
}

.wheel-barrow-svg {
	position: absolute;
	top:40%;
	right: 4%;
	transform: rotate(-10deg);
}

.vacuum-svg {
	position: absolute;
	bottom:10%;
	left:20%;
}

.mop-svg {
	position: absolute;
	bottom:10%;
	right:11%;
}

.study-svg {
	position: absolute;
	top:11%;
	left:22%;
	//transform: rotate(12deg);
}

.dog-walk-svg {
	position: absolute;
	bottom:10%;
	left:53%;
}

.lawn-mower-svg {
	position: absolute;
	top:11%;
	right:20%;
}

#welcome-tag {
	font-family: 'Roboto', sans-serif;
  	margin: 0;
  	font-size:5.0em;
  	color: #f8f8f8;
  	font-weight:600;
}

#welcome-description-1, #welcome-description-2 {
	font-family: 'Roboto', sans-serif;
	color: #f8f8f8;
}

#welcome-description-1 {
	font-size: 2.0em;
}

#welcome-description-2 {
	font-size: 1.75em;
}

.container-how-it-works {
	margin-top: 8%; 
}

#title-how-it-works {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size:3em;
}

.how-it-works-1, .how-it-works-2, .how-it-works-3 {
	text-align: center;
	width: 65%;
}

.how-it-works-1 {
	margin: 5% auto;
}

.how-it-works-2 {
	margin: 30% auto;
}

.how-it-works-3 {
	margin: 55% auto;
}

.col-heading {
	font-family: 'Roboto', sans-serif;
	font-size:2em;
}

.col-paragraph {
	font-family: 'Roboto', sans-serif;
	font-size: 1.23em;
}

//End of Home page css

//Footer css
#myFooter {
	background-color: #3A539B;
	color:white;
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    margin-top: 20%;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:white;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:#d2d1d1;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

//End of Footer css
//To keep footer stuck to bottom of screen
body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

//for navbar expand in mobile screens
@media only screen and (max-width: 767px) {
	.navbar .navbar-collapse {
		border-color: white;
		background-color: #f8f8f8;
		height: 245px;
		z-index: 1000;
		position: relative;
	}
	input[name="search_term"]{
		display: inline-block;
		width: 85%;
	}
	button[id="register-button"]{
		width: 10%;
		display: inline-block;
		overflow: hidden;
	}
}

//iPhone (5, 5C, 5S, SE) in portrait mode
@media screen and (max-width: 320px){
	#myFooter {
		text-align: center;
	}

	.header-intro {
		height: 600px;
	}

	.container-intro {
		top:22%;
		left:25%;
		width: 50%;
	}

	#welcome-tag {
	  	font-size:3.0em;
	  	font-weight:bolder;
	}

	#welcome-description-1 {
		font-size: 1.7em;
	}

	#welcome-description-2 {
		font-size: 1.1em;
	}

	.shovel-svg {
		top:45%;
		left:3%;
		transform: rotate(-15deg);
	}

	.wheel-barrow-svg {
		top:50%;
		right: 4%;
		transform: rotate(-10deg);
	}

	.vacuum-svg {
		bottom:10%;
		left:17%;
	}

	.mop-svg {
		bottom:10%;
		right:13%;
	}

	.study-svg {
		top:8%;
		left:19%;
	}

	.dog-walk-svg {
		bottom:10%;
		left:48%;
	}

	.lawn-mower-svg {
		top:8%;
		right:19%;
	}

	.shovel-svg {
		height: 65px;
		width: 65px;
	}

	.wheel-barrow-svg, .vacuum-svg, .mop-svg, .study-svg, .dog-walk-svg, .lawn-mower-svg {
		height: 50px;
		width: 50px;
	}

	#title-how-it-works {
		font-size: 2.3em;
	}

	.col-heading {
		font-size: 1.5em;
	}

	.col-paragraph {
		font-size: 1.1em;
	}

	.how-it-works-1 {
		margin: 5% auto;
	}

	.how-it-works-2 {
		margin: 20% auto;
	}

	.how-it-works-3 {
		margin: 20% auto;
	}
}

//iPhone 5, 5C, 5S, SE in landscape
@media screen and (max-width: 568px) and (orientation: landscape){
	.mynav {
		min-height: 50px !important;
	}

	.container-fluid {
		margin-top: 0px;
	}

	.navbar-brand {
		font-size: 1.5em;
	}

	#myFooter {
		text-align: center;
	}

	.header-intro {
		height: 375px;
	}

	.container-intro {
		top:30%;
		left:20%;
		width: 60%;
	}

	#welcome-tag {
	  	font-size:2.3em;
	  	font-weight:bolder;
	}

	#welcome-description-1 {
		font-size: 1.45em;
	}

	#welcome-description-2 {
		font-size: 1.1em;
	}

	.shovel-svg {
		top:45%;
		left:3%;
		transform: rotate(-15deg);
	}

	.wheel-barrow-svg {
		top:50%;
		right: 4%;
		transform: rotate(-10deg);
	}

	.vacuum-svg {
		bottom:10%;
		left:17%;
	}

	.mop-svg {
		bottom:10%;
		right:13%;
	}

	.study-svg {
		top:8%;
		left:19%;
	}

	.dog-walk-svg {
		bottom:10%;
		left:48%;
	}

	.lawn-mower-svg {
		top:8%;
		right:19%;
	}

	.shovel-svg {
		height: 65px;
		width: 65px;
	}

	.wheel-barrow-svg, .vacuum-svg, .mop-svg, .study-svg, .dog-walk-svg, .lawn-mower-svg {
		height: 50px;
		width: 50px;
	}

	#title-how-it-works {
		font-size:2.2em;
	}

	.col-heading {
		font-size:1.5em;
	}

	.col-paragraph {
		font-size: 1.1em;
	}

	.how-it-works-1 {
		margin: 5% auto;
	}

	.how-it-works-2 {
		margin: 15% auto;
	}

	.how-it-works-3 {
		margin: 15% auto;
	}

	#myFooter {
    	margin-top: 10%;
	}
}

//iPhone (6, 6S, 7, 8) and (6+, 7+, 8+) in portrait mode
@media screen and (min-width: 321px) and (max-width: 414px){
	#myFooter {
		text-align: center;
	}

	.container-intro {
		top:22%;
		left:25%;
		width: 50%;
	}

	#welcome-tag {
	  	font-size:3.4em;
	  	font-weight:bolder;
	}

	#welcome-description-1 {
		font-size: 2em;
	}

	#welcome-description-2 {
		font-size: 1.3em;
	}

	.shovel-svg {
		top:45%;
		left:3%;
		transform: rotate(-15deg);
	}

	.wheel-barrow-svg {
		top:50%;
		right: 4%;
		transform: rotate(-10deg);
	}

	.vacuum-svg {
		bottom:5%;
		left:17%;
	}

	.mop-svg {
		bottom:5%;
		right:13%;
	}

	.study-svg {
		top:8%;
		left:19%;
	}

	.dog-walk-svg {
		bottom:5%;
		left:48%;
	}

	.lawn-mower-svg {
		top:8%;
		right:19%;
	}

	.shovel-svg {
		height: 65px;
		width: 65px;
	}

	.wheel-barrow-svg, .vacuum-svg, .mop-svg, .study-svg, .dog-walk-svg, .lawn-mower-svg {
		height: 50px;
		width: 50px;
	}

	#title-how-it-works {
		font-size: 2.7em;
	}

	.col-heading {
		font-size: 1.7em;
	}

	.col-paragraph {
		font-size: 1.2em;
	}

	.how-it-works-1 {
		margin: 5% auto;
	}

	.how-it-works-2 {
		margin: 30% auto;
	}

	.how-it-works-3 {
		margin: 30% auto;
	}
}

//iPhone 6, 6S, 7, 8 in landscape
@media screen and (min-width: 569px) and (max-width: 667px) and (orientation: landscape){
	.mynav {
		min-height: 50px !important;
	}

	.container-fluid {
		margin-top: 0px;
	}

	.navbar-brand {
		font-size: 1.5em;
	}

	#myFooter {
		text-align: center;
	}

	.header-intro {
		height: 400px;
	}

	.container-intro {
		top:22%;
		left:20%;
		width: 60%;
	}

	#welcome-tag {
	  	font-size:3em;
	  	font-weight:bolder;
	}

	#welcome-description-1 {
		font-size: 1.6em;
	}

	#welcome-description-2 {
		font-size: 1.1em;
	}

	.shovel-svg {
		top:45%;
		left:3%;
		transform: rotate(-15deg);
	}

	.wheel-barrow-svg {
		top:50%;
		right: 4%;
		transform: rotate(-10deg);
	}

	.vacuum-svg {
		bottom:10%;
		left:17%;
	}

	.mop-svg {
		bottom:10%;
		right:13%;
	}

	.study-svg {
		top:8%;
		left:19%;
	}

	.dog-walk-svg {
		bottom:10%;
		left:48%;
	}

	.lawn-mower-svg {
		top:8%;
		right:19%;
	}

	.shovel-svg {
		height: 65px;
		width: 65px;
	}

	.wheel-barrow-svg, .vacuum-svg, .mop-svg, .study-svg, .dog-walk-svg, .lawn-mower-svg {
		height: 50px;
		width: 50px;
	}

	#title-how-it-works {
		font-size:2.3em;
	}

	.col-heading {
		font-size:1.5em;
	}

	.col-paragraph {
		font-size: 1.1em;
	}

	.how-it-works-1 {
		margin: 5% auto;
	}

	.how-it-works-2 {
		margin: 10% auto;
	}

	.how-it-works-3 {
		margin: 10% auto;
	}

	#myFooter {
    	margin-top: 10%;
	}
}

//iPhone 6+, 7+, 8+ in landscape
@media screen and (min-width: 668px) and (max-width: 736px) and (orientation: landscape){
	.mynav {
		min-height: 50px !important;
	}

	.container-fluid {
		margin-top: 0px;
	}

	.navbar-brand {
		font-size: 1.5em;
	}

	#myFooter {
		text-align: center;
	}

	.header-intro {
		height: 400px;
	}

	.container-intro {
		top:30%;
		left:20%;
		width: 60%;
	}

	#welcome-tag {
	  	font-size:3em;
	  	font-weight:bolder;
	}

	#welcome-description-1 {
		font-size: 1.6em;
	}

	#welcome-description-2 {
		font-size: 1.1em;
	}

	.shovel-svg {
		top:45%;
		left:3%;
		transform: rotate(-15deg);
	}

	.wheel-barrow-svg {
		top:50%;
		right: 4%;
		transform: rotate(-10deg);
	}

	.vacuum-svg {
		bottom:10%;
		left:17%;
	}

	.mop-svg {
		bottom:10%;
		right:13%;
	}

	.study-svg {
		top:8%;
		left:19%;
	}

	.dog-walk-svg {
		bottom:10%;
		left:48%;
	}

	.lawn-mower-svg {
		top:8%;
		right:19%;
	}

	.shovel-svg {
		height: 65px;
		width: 65px;
	}

	.wheel-barrow-svg, .vacuum-svg, .mop-svg, .study-svg, .dog-walk-svg, .lawn-mower-svg {
		height: 50px;
		width: 50px;
	}

	#title-how-it-works {
		font-size: 2.4em;
	}

	.col-heading {
		font-size: 1.5em;
	}

	.col-paragraph {
		font-size: 1.1em;
	}

	.how-it-works-1 {
		margin: 5% auto;
	}

	.how-it-works-2 {
		margin: 10% auto;
	}

	.how-it-works-3 {
		margin: 10% auto;
	}

	#myFooter {
    	margin-top: 10%;
	}
}

@media only screen and (min-width : 799px) and (max-width : 900px) {
/* STYLES GO HERE */
	.mynav {
		min-height: 65px !important;
		background-color: #ecf0f1;
	}

	.container-fluid {
		margin-top: 7px;
	}

	.navbar-brand {
		font-size: 2.2em;
	}

	.sign-up, .sign-in {
		font-size: 1.3em;
	}

	.header-intro {
		height: 550px;
	}

	.container-intro {
		top:35%;
		left:15%;
		width: 71%;
		height: 250px;
	}

	#welcome-tag {
	  	font-size:3.9em;
	  	font-weight:bolder;
	}

	#welcome-description-1 {
		font-size: 1.8em;
	}

	#welcome-description-2 {
		font-size: 1.5em;
	}

	.shovel-svg {
		height: 85px;
		width: 85px;
	}

	.wheel-barrow-svg, .vacuum-svg, .mop-svg, .study-svg, .dog-walk-svg, .lawn-mower-svg {
		height: 60px;
		width: 60px;
	}

	.sign-up-svg, .calendar-svg, .checklist-done-svg {
		height: 180px;
		width: 180px;
	}

	#title-how-it-works {
		text-align: center;
		font-size:3.5em;
	}

	.how-it-works-1, .how-it-works-2, .how-it-works-3 {
		text-align: center;
		width: 65%;
	}

	.how-it-works-1 {
		margin: 5% auto;
	}

	.how-it-works-2 {
		margin: 20% auto;
	}

	.how-it-works-3 {
		margin: 20% auto;
	}

	.col-heading {
		font-size: 2.4em;
	}

	.col-paragraph {
		font-size: 1.5em;
	}

	#myFooter {
		height: 400px;
	}

	#myFooter h5{
		font-size: 24px;
	    margin-top: 55px;
	}

	#myFooter a{
		font-size: 18px;
	}

    #myFooter .social-networks a{
		margin-right: 15px;
    	margin-left: 15px;
    	padding: 10px;	
    }

	#myFooter .fa {
		font-size: 1.1em;
	}

}
 
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* STYLES GO HERE */
	.mynav {
		min-height: 100px !important;
		background-color: #ecf0f1;
	}

	.container-fluid {
		margin-top: 22px;
	}

	.navbar-brand {
		font-size: 2.9em;
	}

	.dropdown-toggle {
		font-size: 1.8em;
	}

	.sign-up, .sign-in {
		font-size: 2.0em;
	}

	.header-intro {
		height: 1000px;
	}

	.container-intro {
		top:35%;
		left:17%;
		height: 400px;
	}

	#welcome-tag {
	  	font-size:6.9em;
	  	font-weight:bolder;
	}

	#welcome-description-1 {
		font-size: 3.4em;
	}

	#welcome-description-2 {
		font-size: 2.7em;
	}

	.shovel-svg {
		height: 120px;
		width: 120px;
	}

	.wheel-barrow-svg, .vacuum-svg, .mop-svg, .study-svg, .dog-walk-svg, .lawn-mower-svg {
		height: 95px;
		width: 95px;
	}

	.sign-up-svg, .calendar-svg, .checklist-done-svg {
		height: 300px;
		width: 300px;
	}

	#title-how-it-works {
		text-align: center;
		font-size:5.0em;
	}

	.how-it-works-1, .how-it-works-2, .how-it-works-3 {
		text-align: center;
		width: 72%;
	}

	.col-heading {
		font-size: 2.9em;
	}

	.col-paragraph {
		font-size: 2.2em;
	}

	#myFooter {
		height: 500px;
	}

	#myFooter h5{
		font-size: 38px;
	    margin-top: 100px;
	}

	#myFooter a{
		font-size: 30px;
	}

    #myFooter .social-networks a{
		margin-right: 30px;
    	margin-left: 30px;
    	padding: 30px;	
    }

	#myFooter .fa {
		font-size: 1.8em;
	}

}

//Note: Below is sample template for media queries
 
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* STYLES GO HERE */
}
 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
/* STYLES GO HERE */
}