// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Footer css
#myFooter {
	background-color: #66717D;
	color:white;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}

//End of Footer css
//Home page css

#welcome-tag {
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
  	margin: 0;
  	white-space: nowrap;
  	font-size:3.5em;
}

.welcome-description {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#how-it-works {
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	font-size:2.5em;
}

.col-heading {
	font-family: 'Rajdhani', sans-serif;
	font-size:1.75em;
}

.col-paragraph {
	font-family: 'Roboto', sans-serif;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}
//for navbar expand in mobile screens
@media only screen and (max-width: 767px) {
	.navbar .navbar-collapse {
		border-color: white;
		background-color: #333;
		height: 245px;
		z-index: 1000;
		position: relative;
	}
	input[name="search_term"]{
		display: inline-block;
		width: 80%;
	}
	button[id="register-button"]{
		width: 10%;
		display: inline-block;
		overflow: hidden;
	}
}


//End of Home page css
//To keep footer stuck to bottom of screen

html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.blank-content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

