// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottom_action_buttons_container {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}