// Place all the styles related to the teen_times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#day{
  height: 26px;
}

.submitTime{
  margin-top: 34px;
  height: 26px;
  padding: 0px 7px 0px 7px;
}
