.container-terms-of-service {
	padding-top: 3em;
}

.sub-container-terms-of-service {
	width: 70%;
	margin: 0 auto;
	box-shadow: 0px 2px 2px 0px rgba(36,42,48,0.15);
	padding: 1.5rem 2rem;
	background: white;
	border: 1px solid #dce0e6;
	border-radius: 4px;
	overflow: hidden;
}

.heading-terms-of-service {
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	text-align: center;
}