// Place all the styles related to the user_skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addSkill{
  margin-top: 8px;
  margin-left: 5px;
}

.removeSkill{
  margin-left: 5px;
}