<div class="container">
  <h4> Payouts Transaction History</h4>
  <br>
  <p> Please find below all your payout transactions to date.</p><hr>
  <div class="col-md-6">
    <% if !@user_payouts.blank?%>
      <% @user_payouts.each do |p| %>
        <div class="row">
          <table style="width:100%">
            <tr>
              <th>ID</th>
              <th>Amount (CAD)</th>
              <th>Date</th>
            </tr>
            <tr>
              <td><%=p.batch_id%></td>
              <td>$<%=p.amount%></td>
              <td><%=p.created_at.strftime("%B %d, %Y")%></td>
            </tr>
          </table>
        </div>
        <hr>
      <%end%>
    <%else%>
      <p>No payouts yet!</p>
    <%end%>
  </div>
</div>