<div>
	<h1 id = "welcome-tag">Welcome to TeenServ!</h1>
	<h3 class = "welcome-description">A fast and easy way to get tasks done</h3>
	<h4 class = "welcome-description">Simply post what you need to get done and get in touch with TeenServers to get help</h4>
</div>

<div>
	<h3 id = "how-it-works">How it works</h3>

	<div class = "col-md-4 how-it-works">
		<h4 class = "col-heading">1. Sign up with us</h4>
		<p class = "col-paragraph">We promise it's really simple. If you're a teenager, customize your profile by adding what tasks you would like to do.</p>
	</div>

	<div class = "col-md-4 how-it-works">
		<h4 class = "col-heading">2. Describe what you want to get done</h4>
		<p class = "col-paragraph">If you're a client, simply list details about what you want to get done and get automatically contacted by a teenager who is interested.</p>
	</div>

	<div class = "col-md-4 how-it-works">
		<h4 class = "col-heading">3. Get the task done</h4>
		<p class = "col-paragraph">The TeenServer will arrive at your location and get the task done. Payments are carried out through our app. Don't forget to leave a review!</p>
	</div>
</div>