<h1>Welcome to TeenServ!</h1>
<h3>A fast and easy way to get tasks done</h3>
<h4>Simply post what you need to get done and get in touch with rated TeenServers to get help</h4>

<div>
	<h3>How it works</h3>
	<h4>1. Sign up with us</h4>
	<p>We promise it's really simple. If you're a teenager, customize your profile by adding what tasks you would like to do.</p>

	<h4>2. Describe what you want to get done</h4>
	<p>If you're a client, simply list details about what you want to get done and get automatically contacted by a teenager who is interested.</p>

	<h4>3. Get the task done</h4>
	<p>The TeenServer will arrive at your location and get the task done. Payments are carried out through our app. Don't forget to leave a review!</p>
</div>