/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bootstrap-datetimepicker
 */

.loginAs{
    color: #777;
    margin-left: 60px;
    margin-top: 5px;
}

.userBack{
    margin-left: 10px;
}

.badge-notify{
    background:red;
    position:relative;
    top: -50px;
    left: -30px;
    font-size: 10px;
}
.notification-centre{
    top: -10px;
}

.languages{
  margin-left: 20px;
  margin-top: 15px;
  color: white;
}

.languages >a {
  color: gold;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {

  color:white;
  background-color: inherit;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{

  background-color: inherit;
  color: white
}
