// Place all the styles related to the services controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.input-container {
  padding-bottom: 15px;
}

.service_text_area {
  resize: none;
}

.services-bottom-action-buttons-container {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
    width: 165px;
}

.input-container .control-label {
	font-size: 21px !important;
}

.card-signIn .input-container .bar.create-job{
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #757575;
  width: 100%;
  height: 1px;
}

.card-signIn .input-container.create-service input:not([type=checkbox]) {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: auto;
  height: 40px;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}

.control-label.reoccur {
	text-align: left;
}

.button-container.create-service {
	margin-top: -15px !important;
	margin-bottom: 50px !important;
}

.date-custom{
	top:0 !important;
}

.input-group {
	padding-top: 3%;
}

.ServiceAddress{
  width: 12px !important;
  height: 12px !important;
  margin-left: 5px !important;
}

.location{
  font-size: 15px !important;
}

.chargePerHour{
  width: 388px;
  max-width: max-content !important;
}

#map{
  width: 810px;
  height: 800px;
}

.sjobs{
  width: 100%;
  margin-left: 25%;
}
