// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group{
  padding-top: 5px;
}

.topBar{
  height: 60px;
}

.card-body{

}
.transaction-card{
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px 2px #888888;
}

.card-container{
  padding: 10px;
  display: inline-block;

}

.back-button{
  padding: 2%;
  float: left;
}