// Place all the styles related to the user_skills controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skills{
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.addSkill{
  margin-left: 5px;
}

.removeSkill{
  color: red;
  cursor: pointer;
  float: right;
}

.skillNames{
  font-size: 17px;
}

.addSkillButton {

  color: #000000;
  font-size: 14px;
  background: #f7f9f9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: max-content !important;
  vertical-align: top;
}


.skillsDropdown{

  font-size: 14px;
  padding: 10px 20px 10px 20px;
  width: max-content !important;
}

